<div class="container text-center">
  <span class="cripping-header sub-header">edit account</span>
  <span class="cripping-header2 sub-header">edit account</span>

  <div class="text-center box-med box-rounded border-fill mt-5 p-5">
    <div class="container-fluid">
      <div class="row flex-wrap">
        <%= render 'devise/registrations/side_nav' %>
        <div class="col py-3">
          <%= render 'devise/registrations/profile' %>
        </div>
      </div>
    </div>
  </div>
</div>