<div class="text-center box-med box-rounded border-fill bg-white mt-5 p-5">
  <div class="container-fluid">
    <div class="row flex-wrap">
      <%= render 'devise/registrations/side_nav' %>
      <div class="col py-3">
        <h1 class="my-3">edit account</h1>
          <%= render 'devise/registrations/profile' %>
      </div>
    </div>
  </div>
