<div class="container">
  <div class="mt-5 p-5 box-rounded border-fill bg-white">

    <h1><%= @user.username %></h1>
    <h6><%= pluralize(@user.views, "view") %></h6>

    <div class="upload-gallery justify-content-around my-5 mx-auto">
      <% Upload.where(user_id: @user).each do |upload| %>
        <div id="uploads">
          <%= render upload %>
        </div>
      <% end %>
    </div>

  </div>
</div>