<div class="container">
  
  <div class="text-center mx-auto" style="max-width: 85%" >
    <span class="cripping-header">about</span>
    <span class="cripping-header2">about</span>

    <div class="mb-3 p-5 box-rounded border-fill bg-white">
      <p class="fs-6">Cripping_CG promotes equity and authenticity within this climate by creating a record and creative resource for disabled community and digital crip worldbuilding. By generating a library of avatars, animation rigs, and 3D objects we create personifications of disabled identity. These open-source assets will be made *partially* available on a website for others to view, contribute, and use in their own projects, cultivating a more expansive and self-directed disability aesthetic within media arts.</p>
    </div>

    <span class="cripping-header">who_we_are</span>
    <span class="cripping-header2">who_we_are</span>

    <div class="d-flex align-items-center border-fill box-rounded mb-5">
      <div class="row no-gutters">
        <div class="col-sm-5">
          <%= image_tag "nat.png", class: "top-rounded about-card-img", style: 'width:45vw' %>
        </div>
        <div class="col-sm-7">
          <div class="card-body py-5 px-3">
            <h5 class="card-title"><strong>Natalee Decker</strong></h5>
            <p class="card-text"><a href="https://www.instagram.com/crip_fantasy/">Natalee Decker</a> (they/them) is a Chicago-born, Los Angeles-based artist currently pursuing an undergraduate degree at the University of California, Los Angeles in Design|Media Arts and Disability Studies. Via a multidisciplinary practice, they investigate disability aesthetics, technology, and crip fantasy. Their recent work uses 3D computer graphics to creatively reimagine the mobility devices – walkers, scooters, wheelchairs, canes – they use each day, imbuing them with fluid impractical form, vivid celebratory color, and questions about desirability.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="d-flex align-items-center border-fill box-rounded my-5">
      <div class="row no-gutters">
        <div class="col-sm-5">
          <%= image_tag "nat.png", class: "top-rounded about-card-img", style: 'width:45vw' %>
        </div>
        <div class="col-sm-7">
          <div class="card-body py-5 px-3">
            <h5 class="card-title"><strong>Cielo Saucedo</strong></h5>
            <p class="card-text"><a href="https://www.instagram.com/rare_earth_mineral/">Cielo Saucedo</a> is a disabled artist from a family of migrant farm workers. They work with computer generated imagery, non-fiction writing and sculpture to disrupt notions of humanism and make space for disabled mind-bodies and ecologies. Technology mediates their artistic production with the wax and wane of their ability. From this direct response to their body, an unprivileged mutuality between ecological space and virtual experience is offered. They have shown work in New York, Chicago, London and Quito. They participate in the artist collective SIQ (Sick in Quarters) and are a founding member of W.E., an ecological action group started in Chicago. They received their BFA from School of the Art Institute, Chicago.</p>
          </div>
        </div>
      </div>
    </div>

    <span class="cripping-header">additional_collaborators</span> 
    <span class="cripping-header2">additional_collaborators</span> 

    <div>
      <div class="mb-5 p-3 box-rounded border-fill">
        <p class="fs-6"><a href="https://www.instagram.com/krista.villatoro/"><strong>Krista Ramirez-Villatoro</strong></a> (she/her) is a Guatemalan digital artist and filmmaker interested in creating space for underrepresented communities. Her undergraduate work focused on disabled Central American migrant refugees. Her most current work explores bodily difference and disability performance in sport through 3D graphics. Krista is currently a first-year grad student in the Design and Media Arts program at UCLA.</p>
      </div>

      <div class="mb-5 p-3 box-rounded border-fill">
        <p class="fs-6"><a href="https://www.instagram.com/krista.villatoro/"><strong>Krista Ramirez-Villatoro</strong></a> (she/her) is a Guatemalan digital artist and filmmaker interested in creating space for underrepresented communities. Her undergraduate work focused on disabled Central American migrant refugees. Her most current work explores bodily difference and disability performance in sport through 3D graphics. Krista is currently a first-year grad student in the Design and Media Arts program at UCLA.</p>
      </div>

      <div class="mb-5 p-3 box-rounded border-fill">
        <p class="fs-6"><a href="https://www.instagram.com/krista.villatoro/"><strong>Krista Ramirez-Villatoro</strong></a> (she/her) is a Guatemalan digital artist and filmmaker interested in creating space for underrepresented communities. Her undergraduate work focused on disabled Central American migrant refugees. Her most current work explores bodily difference and disability performance in sport through 3D graphics. Krista is currently a first-year grad student in the Design and Media Arts program at UCLA.</p>
      </div>
    </div>
    
  </div>
</div>