<link rel="stylesheet" href="../../assets/stylesheets/landing.css">

<div class="container text-center">
  <span class="cripping-header">CRIPPING_CG</span>
  <span class="cripping-header2">CRIPPING_CG</span>
  
  <div class="my-5 p-5 box-rounded border-fill">

    <!-- to-do: resize logo font if viewed on phone -->
    <p><strong>CRIPPING_CG is a collaborative archive of digital disabled embodiment - utilizing motion-capture and 3D modeling technology to create digital assets as record and resource.</strong></p>

    <p>The construction of 3D computer generated worlds - within video games, simulated environments/virtual reality, animation, film VFX, digital art, etc. -  depend on libraries of digital objects (assets), avatars, and animated motion. These can combine to offer hopeful and fantastical potentiality, but too often land within a projected normativity that mirrors real world biases and patterns of exclusion. The disability community has long used various digital spaces as refuge and resource, but to search for disability in computer graphics (CG) libraries either renders few results or stigma laden distortions: a wheelchair is available for download in a horror game pack, an atypical gait is animated for zombie character design, injury becomes a prop for war fantasies, assistive devices are hyper-medicalized or inaccurately depicted.</p>

    <p>Cripping_CG promotes equity and authenticity within this climate by creating a record and creative resource for disabled community and digital crip worldbuilding. By generating a library of avatars, animation rigs, and 3D objects we create personifications of disabled identity. These open-source assets will be made *partially* available on a website for others to view, contribute, and use in their own projects, cultivating a more expansive and self-directed disability aesthetic within media arts.</p>

    <p>Beyond just 3D assets, the archive combines interview questions about digital bodies and a bespoke “terms of use” agreement to create dimensional portraits of disability in digital space and encourage participant agency. Via an antagonistic approach to “documentation” and “capture” we encourage participants to decide how/in what ways their bodies are visible in digital space.</p>
  </div>

</div>


