<div class="container">
  <div class="mt-5 p-5 box-rounded bg-white border-fill">

    <!-- to-do: resize logo font if viewed on phone -->
    <h1 class="cripping-header">CRIPPING_CG</h1>
    <p class="fs-5">Allways wanting food i cry and cry and cry unless you pet me, and then maybe i cry just for fun lick master's hand at first then bite because im moody and lick the other cats and cat is love, cat is life slap kitten brother with paw or murr i hate humans they are so annoying. Hide head under blanket so no one can see eat owner's food so trip on catnip yet jump on fridge. Kitty kitty prance along on top of the garden fence, annoy the neighbor's dog and make it bark but be superior meowing chowing and wowing or claws in your leg. Stinky cat naughty running cat, purr as loud as possible, be the most annoying cat that you can, and, knock everything off the table. Stare at owner accusingly then wink kitty pounce, trip, faceplant you didn't see that no you didn't definitely didn't lick, lick, lick, and preen away the embarrassment for stand with legs in litter box, but poop outside. Cat cat moo moo lick ears lick paws climb into cupboard and lick the</p>
  </div>

  <div class="mt-5 p-2 box-rounded border-fill bg-white box-med">
    <div>
      <%= render 'pages/featured', upload: Upload.all.shuffle.first %>
    <div>
  </div>
</div>


