<div class="container text-center">
  <span class="cripping-header">resource_web</span>
  <span class="cripping-header2">resource_web</span>

  <div class="border-fill box-rounded py-3">
    <p>The resource_web is a list of projects, readings, resources that</p>
  </div>

  <div class="p-5">
    <div class="row d-flex justify-content-around mx-auto">
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>
      <div class="card border-fill box-rounded bg-white my-4" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">
            this will be a link to a project. or possibly multiple links
under a small heading .
          </p>
        </div>
      </div>


    </div>
  </div>
</div>