<div class="container">
  
  <div class="mt-5 p-5 box-rounded border-fill bg-white">
    <h1 class="page-header">resource web</h1>
    <hr>
    <div class="row d-flex justify-content-between mx-auto">
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">archive</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>image caching</li>
              <li><s>randomize card grid on reload</s></li>
              <li><s>smoother breakpoints</s></li>
              <li><s>set max thumbnail height on cards to make size uniform</s></li>
              <li><s>wrap entire card in a tag/remove view link</s></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">show asset</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>fix sizing of viewer</li>
              <li>add video player</li>
              <li><s>viewer type based on asset</s></li>
              <li><s>add 3d viewer</s></li>
              <li><s>why is image broken?</s></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">upload asset</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>add validation</li>
              <li>update layout & sidenav</li>
              <li>adjust form field sizing</li>
              <li><s>add active storage uploading</s></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">search</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>add filter results by</li>
              <li><s>display search query with results</s></li>
              <li><s>add search bar</s></li>
              <li><s>add sort results by</s></li>
              <li><s>do we need to look for better search gem than the one from blog demo?</s></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">devise</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>admin dashboard</li>
              <li><s>make username unique?</s></li>
              <li><s>set up mailer to send user registration confirmation email</s>(rian)</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">contact</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li><s>create contact form</s>(rian)</li>
              <li><s>set up mailer to email admin</s>(rian)</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">landing</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li><s>add featured asset</s></li>
              <li><s>fig out vertical alignment/ positions</s></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">profile</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>fix edit profile form</li>
              <li><s>update profile page styles</s></li>
              <li><s>convert timestamp to month year</s></li>
              <li><s>create profile page</s></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">manage assets</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>create form</li>
              <li>add attributes</li>
              <li>restrict to user</li>
              <li>permissions/viewable</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">etc</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>fix side nav breakpoints</li>
              <li>need to DRY css mess</li>
              <li>need to check color contrast for accessibility compliance</li>
              <li><s>fuck with navbar link color, hover color</s></li>
            </ul>
          </p>
        </div>
      </div>


    </div>
  </div>
</div>