<div class="container">
  
  <div class="mt-5 p-5 box-rounded border-fill bg-white">
    <h1 class="page-header">resource web</h1>
    <hr>
    <div class="row d-flex justify-content-between mx-auto">
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">archive</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>set max thumbnail height on cards to make size uniform</li>
              <li>rounded text box on card text</li>
              <li>wrap entire card in a tag/remove view link</li>
              <li>smoother breakpoints - skips from 3 to 1 per row</li>
              <li>image caching</li>
              <li>randomize card grid on reload</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">show asset</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>add 3d viewer</li>
              <li>add video player</li>
              <li>viewer conditional based on asset type</li>
              <li><s>why is image broken?</s></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">upload asset</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>make this form cuter</li>
              <li>add form fields</li>
              <li><s>add active storage uploading</s></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">search</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>add search bar</li>
              <li>add filter results by</li>
              <li>add sort results by</li>
              <li><s>do we need to look for better search gem than the one from blog demo?</s></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">devise</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>admin dashboard</li>
              <li>create/view/edit profile page</li>
              <li>make username unique? also set default to 'user'</li>
              <li><s>set up mailer to send user registration confirmation email</s>(rian)</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">contact</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li><s>create contact form</s>(rian)</li>
              <li><s>set up mailer to email admin</s>(rian)</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">landing</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>add featured asset</li>
              <li>fig out vertical alignment/component positions</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">about/resource web</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>set up rich text form from admin dashboard to manage these pages</li>
              <li>make resource partial, add/edit/destroy resource</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card border-box-rounded my-4" style="max-width: 20rem;">
        <div class="card-header">etc</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>why aren't alerts showing up?</li>
              <li>need to DRY css mess</li>
              <li>fuck with navbar link color, hover color -- need to check mint & black combination for accessibility compliance</li>
            </ul>
          </p>
        </div>
      </div>


    </div>
  </div>
</div>