<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>New Contact: <%= @contact.name %></p>
    <p><%= @contact.email %></p><br>
    <p>Message: <%= @contact.message %></p>
  </body>
</html>