<div id="<%= dom_id resource %>">

  <div class="card border-fill box-rounded bg-white my-5" style="max-width: 25rem;">
    <div class="card-body">
      <p>
        <strong>Name:</strong>
        <%= resource.name %>
      </p>

      <p>
        <strong>Link:</strong>
        <%= link_to resource.link, resource.link %>
      </p>
    </div>
  </div>


</div>
