<div class="container text-center">
  <span class="cripping-header">resource_web</span>
  <span class="cripping-header2">resource_webbbb</span>

  <div class="border-fill box-rounded mx-auto py-3", style="max-width: 85%" >
    <p>The resource_web is a list of projects, readings, resources that</p>
  </div>

  <div class="upload-gallery justify-content-around mx-auto">
    <div id="resources">
      <% @resources.each do |resource| %>
        <%= render resource %>
      <% end %>
    </div>
  </div>

<%= link_to "New resource", new_resource_path %>
