<!-- Import the component -->
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

<div class="container box-rounded bg-white viewer">

  <!-- need to make viewer larger & centered in div -->
  <model-viewer 
    alt="<%= upload.description %>" 
    src="<%= (url_for(upload.file)) %>" 
    seamless-poster shadow-intensity="1" 
    camera-controls enable-pan>
  </model-viewer>

</div>