<div class="text-center box-med box-rounded border-fill bg-white p-5">
  <h1>edit asset</h1>

  <%= render "form", upload: @upload %>

  <br>

  <div>
    <%= link_to "view", @upload %> |
    <%= link_to "back", uploads_path %>
  </div>
<div>

