<div class="container">
  <div class="mt-5 p-5 box-rounded border-fill bg-white">
    <h1 class="page-header">archive</h1>
    <%= render 'search/form' %>

    <div class="upload-gallery justify-content-around my-5 mx-auto">
      <% @uploads.shuffle.each do |upload| %>
        <div id="uploads">
          <%= render upload %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>




