<div class="text-center box-med box-rounded border-fill bg-white mt-5 p-5">
  <h1>upload asset</h1>
  <%= render "form", upload: @upload %>
  
  <br>

  <div>
    <%= link_to "Back", uploads_path %>
  </div>
<div>